@import 'antd/dist/reset.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: samimFont;
  src: url('/fonts/Samim-FD.eot');
  src: url('/fonts/Samim-FD.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Samim-FD.woff2') format('woff2'),
  url('/fonts/Samim-FD.woff') format('woff'),
  url('/fonts/Samim-FD.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: samimFont;
  src: url('/fonts/Samim-Bold-FD.eot');
  src: url('/fonts/Samim-Bold-FD.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Samim-Bold-FD.woff2') format('woff2'),
  url('/fonts/Samim-Bold-FD.woff') format('woff'),
  url('/fonts/Samim-Bold-FD.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: samimFont;
  src: url('/fonts/Samim-Medium-FD.eot');
  src: url('/fonts/Samim-Medium-FD.eot?#iefix') format('embedded-opentype'),
  url('/fonts/Samim-Medium-FD.woff2') format('woff2'),
  url('/fonts/Samim-Medium-FD.woff') format('woff'),
  url('/fonts/Samim-Medium-FD.ttf') format('truetype');
  font-weight: 500;
}

@layer utilities {
  .d-rtl {
    direction: rtl;
  }
  
  .d-ltr {
    direction: ltr;
  }
  
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .--listDot {
    @apply size-4 bg-gray-70 rounded-full inline-block me-8 align-middle;
  }
}

@layer components {

}

.ant-layout-sider {
  .ant-menu-item {
    @apply px-[8px] font-bold text-captionLg !important;
  }
}

.ant-table-wrapper {
  .ant-table {
    @apply text-captionMd font-bold !important;
    
    .ant-table-thead {
      @apply shadow-9;
    }
    
    .ant-table-cell {
      @apply text-captionMd border-0 !important;
      
      &:before {
        display: none;
      }
    }
    
    .ant-table-tbody {
      .ant-table-cell.ant-table-cell-row-hover,
      .ant-table-row:nth-child(even) {
        @apply bg-[#F9F9F9] !important;
      }
    }
  }
}

.ant-form-item-explain-error {
  @apply text-captionSm md:text-captionLg ;
}

.ant-form-item {
  @apply mb-[20px] md:mb-[30px];
}

.--newUserSelectedCourse {
  > div {
    &:nth-child(2n+1) {
      @apply bg-[rgba(98,81,221,.05)];
    }
  }
}

.ant-divider {
  @apply border-gray-100/20 before:hidden !important;
  
  & > .ant-divider-inner-text {
    @apply text-secondary text-captionXl;
  }
  
  &.ant-divider-with-text-left {
    & > span {
      @apply p-0 pe-16 !important;
    }
  }
  
  &.ant-divider-with-text-right {
    & > span {
      @apply p-0 ps-16 !important;
    }
  }
}

.--avatar-uploader-formItem {
  
  .--avatar-uploader {
    .ant-upload-select {
      @apply border-solid w-full h-[140px] bg-neutral-white !important;
    }
    
    &.--removeLogo {
      .ant-upload-select {
        &:hover {
          .--trashIcon {
            @apply block;
          }
          
          span.ant-upload {
            position: relative;
            
            &:before {
              position: absolute;
              z-index: 1;
              width: calc(100% - calc(8px * 2));
              height: calc(100% - calc(8px * 2));
              background-color: rgba(0, 0, 0, .45);
              opacity: 1;
              transition: all .3s;
              content: ' ';
            }
          }
        }
      }
      
      .ant-upload-disabled {
        @apply cursor-auto !important;
      }
    }
    
    .--trashIcon {
      @apply absolute hidden;
    }
  }
  
  &.ant-form-item-has-error {
    .ant-upload-select {
      @apply border-[#ff4d4f] !important;
    }
  }
  
  .ant-form-item-explain-error {
    @apply text-captionMd;
  }
}

.--pageSection {
  @apply min-h-min;
}

.--pageContentFull {
  &,
  & > .ant-spin-container {
    @apply min-h-full flex-1 flex flex-col
  }
}
